<!-- Project name: Mapping Justice -->
<!-- Description: For our ACCR Collaborative Project we have created an interactive map of PA. The map is color coded by cases + death sentences and population.
The user can hover over a county to view its statistics. Additionally, several counties can be clicked to generate charts-->
<!-- Filename: index.html.erb -->
<!-- Description: The page renders the interactive map. Charts are generated using Chart.js -->
<!-- Last modified on: 3/07/2023 -->

<!-- Headers and directions -->
<br>
<h1 class="text-center">Mapping Justice</h1>
<hr>

<h4 class ="text-center">Hover over a county to view information related to its death penalty cases.</h4><br><br><br>

<!-- Divs for map and tooltip -->

<div id="tooltip" display="none" style="position: absolute; display: none; z-index: 1000; background: #fff; padding: .188rem">
</div>

<div id="map">
</div>

<!-- Divs for map buttons -->
<p id="map-text" class="text-center" style="padding:0 0 1em 0"> Select desired number of counties and click a button below to compare data.</p>

<div id="toggle-reset-buttons" style="text-align: center">
    <%# <input type="checkbox" id = "toggle-button" checked data-toggle="toggle" data-on="Cases Where Capital Punishment is Sought" data-off="Number of Individuals on Death Row" data-onstyle="btn btn-outline-primary" data-offstyle="btn btn-outline-primary"> %>

    <button type="button" class="btn btn-outline-primary" id="change-button" onclick="get_dr_color_codings();"> Death Row Cases </button>
    <button type="button" class="btn btn-outline-primary" id="change-button" onclick="get_cases_color_codings();"> Ongoing Cases </button>
    <button type="button" class="btn btn-outline-primary" id="change-button" onclick="get_population_color_codings();"> Population </button>

    <%# <button type="button" class="btn btn-outline-primary" id="get-graphs" onclick="generate_graphs();"> Get Graphs </button> %>
</div>

<!-- Divs for charts -->

<p id="chart-text" class="text-center" style="padding:2em 0 2em 0"> Select desired number of counties and click a button below to compare data.</p>
<div id="pie-chart">
    <canvas id="pie"></canvas>
</div>
<div id="bar-chart">
    <canvas id="bar"></canvas>
</div>

<!-- Divs for chart buttons -->

<div id="toggle-reset-buttons" style="text-align: center">
    <button type="button" class="btn btn-outline-primary" id="get-graphs" onclick="generate_dr_graphs();"> Get Graphs of Death Row Cases </button>
    <button type="button" class="btn btn-outline-primary" id="get-graphs" onclick="generate_case_graphs();"> Get Graphs of Ongoing Cases </button>

    <button type="button" class="btn btn-outline-primary" id="reset-button" onclick="reset_toggle();" > Reset </button>
</div>

<!-- Div for footer -->

<hr>
<div id="footer">
    <p>© 2022 Copyright: Mapping Justice</p>
</div>

<script>
    //The county data hash, population color code hash, and cases/dr color code hash are parsed and usable as javascript data structures
    let data = JSON.parse('<%= raw(@county_map.to_json) %>');
    let population_color_codings = JSON.parse('<%= raw(@population_color_codings.to_json) %>');
    let cases_color_codings = JSON.parse('<%= raw(@cases_color_codings.to_json) %>');
    let dr_color_codings = JSON.parse('<%= raw(@dr_color_codings.to_json) %>');

    //Load the map

    $(document).ready(function(){
        $("#map").html("<%= j (render 'map') %>");
        get_cases_color_codings();
    })

    //JS functions for color coding

    $(function() {
        $("#toggle-button").change(function() {
            reset_toggle();
        });
    });

    //function unclicks all selected counties, loads proper color code, removes charts, and displays initial output message
    function reset_toggle(){
        color_code_resets();
        if ($("#toggle-button").prop('checked')) {
            get_cases_color_codings();
        // } else if ( $("#toggle-button").prop('checked') ) {
        //     get_dr_color_codings();
        } else {
            get_dr_color_codings();
        }
        $("#chart-text").html("Select desired number of counties and click a button below to compare data.");
    }

    function color_code_resets() {
        $(".clicked").removeClass("clicked");
        if (Chart.getChart("pie") != undefined){
            Chart.getChart("pie").destroy();
        }
        if (Chart.getChart("bar") != undefined){
            Chart.getChart("bar").destroy();
        }
    }

    //function colors all counties by cases                 + dr sentences
    function get_cases_color_codings(county){
        $("#map-text").html("Currently Viewing Ongoing Cases.");
        let eles = $(".map-county");
        for (let i = 0; i < eles.length; i++) {
            $('#' + eles[i].id).css("fill", cases_color_codings[eles[i].id]);
        }

    }

    //function colors all counties by population
    function get_population_color_codings(county){
        $("#map-text").html("Currently Viewing Population.");
        let eles = $(".map-county");
        for (let i = 0; i < eles.length; i++) {
            $('#' + eles[i].id).css("fill", population_color_codings[eles[i].id]);
        }
    }

    //function colors all counties by dr
    function get_dr_color_codings(county){
        $("#map-text").html("Currently Viewing Incarcerated Individuals on Death Row.");
        let eles = $(".map-county");
        for (let i = 0; i < eles.length; i++) {
            $('#' + eles[i].id).css("fill", dr_color_codings[eles[i].id]);
        }
    }

    //function colors codes clicked county and adds/remove clicked class from class list
    function county_clicked(county) {
        if ($("#" + county).attr("style") != "fill: rgb(48, 141, 192);"){
            $("#" + county).css("fill", "#308dc0");
            $("#" + county).addClass("clicked");
        }
        else{
            $("#" + county).removeClass("clicked");
            if ($("#toggle-button").prop("checked")){
                $('#' + county).css("fill", cases_color_codings[county]);
            }
            else{
                $('#' + county).css("fill", dr_color_codings[county]); //population_color_codings
            }
        }
    }

    //JS functions for graphing

    //base function to create charts
    function generate_graphs(){
        if (Chart.getChart("pie") != undefined){
            Chart.getChart("pie").destroy();
        }
        if (Chart.getChart("bar") != undefined){
            Chart.getChart("bar").destroy();
        }
        $("#chart-text").html("");
        draw_pie_chart_cases();
        draw_bar_chart_case();
        draw_pie_chart_dr();
        draw_bar_chart_dr();
    }

    //base function to create charts
    function generate_dr_graphs(){
        if (Chart.getChart("pie") != undefined){
            Chart.getChart("pie").destroy();
        }
        if (Chart.getChart("bar") != undefined){
            Chart.getChart("bar").destroy();
        }
        $("#chart-text").html("");
        draw_pie_chart_dr();
        draw_bar_chart_dr();
    }

    //base function to create charts
    function generate_case_graphs(){
        if (Chart.getChart("pie") != undefined){
            Chart.getChart("pie").destroy();
        }
        if (Chart.getChart("bar") != undefined){
            Chart.getChart("bar").destroy();
        }
        $("#chart-text").html("");
        draw_pie_chart_cases();
        draw_bar_chart_case();
    }

    //function generates chart.js options for bar chart
    function get_bar_chart_options_dr(){
        var options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Death Row Sentences County Breakdown'
                }
            }
        };
        return options;
    }

    //function generates chart.js options for bar chart
    function get_bar_chart_options_cases(){
        var options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Current Cases County Breakdown'
                }
            }
        };
        return options;
    }

    //function generates chart.js data for bar chart
    function get_bar_chart_data_case(){
        let graph_data = {};
        graph_data['datasets'] = [];
        graph_data['labels'] = [];
        let eles = $(".clicked");
        zero_bool = true;

        if (eles.length == 0){
            return "empty";
        }

        for (let i = 0; i < eles.length; i++){
            graph_data['labels'].push(eles[i].id);
        }

        let black = {};
        let white = {};
        let other = {};
        black['label'] = "Black";
        black['backgroundColor'] = "#308dc0";
        white['label'] = "White";
        white['backgroundColor'] = "#DC1C13";
        other['label'] = "Other";
        other['backgroundColor'] = "rgb(250, 250, 106)";

        black['data'] = []
        white['data'] = []
        other['data'] = []

        for (let i = 0; i < eles.length; i++) {
            county_data = data[eles[i].id];
            current_cases_b = county_data['num_cur_cases_b']
            current_cases_w = county_data['num_cur_cases_w']
            current_cases_o = county_data['num_cur_cases_o']

            if (current_cases_b > 0 || current_cases_w > 0 || current_cases_o > 0){
                zero_bool = false;
            }
            black["data"].push(current_cases_b)
            white["data"].push(current_cases_w)
            other["data"].push(current_cases_o)
        }
        if (zero_bool == true){
            return "zero"
        }
        graph_data['datasets'].push(black);
        graph_data['datasets'].push(white);
        graph_data['datasets'].push(other);
        return graph_data;
    }

    //function generates chart.js data for bar chart
    function get_bar_chart_data_dr(){
        let graph_data = {};
        graph_data['datasets'] = [];
        graph_data['labels'] = [];
        let eles = $(".clicked");
        zero_bool = true;

        if (eles.length == 0){
            return "empty";
        }

        for (let i = 0; i < eles.length; i++){
            graph_data['labels'].push(eles[i].id);
        }

        let black = {};
        let white = {};
        let other = {};
        black['label'] = "Black";
        black['backgroundColor'] = "#308dc0";
        white['label'] = "White";
        white['backgroundColor'] = "#DC1C13";
        other['label'] = "Other";
        other['backgroundColor'] = "rgb(250, 250, 106)";

        black['data'] = []
        white['data'] = []
        other['data'] = []

        for (let i = 0; i < eles.length; i++) {
            county_data = data[eles[i].id];
            death_row_cases_b =  county_data['num_dr_b'];
            death_row_cases_w =  county_data['num_dr_w'];
            death_row_cases_o =  county_data['num_dr_o'];

            if (death_row_cases_b > 0 || death_row_cases_w > 0 || death_row_cases_o > 0){
                zero_bool = false;
            }
            black["data"].push(death_row_cases_b)
            white["data"].push(death_row_cases_w)
            other["data"].push(death_row_cases_o)
        }
        if (zero_bool == true){
            return "zero"
        }
        graph_data['datasets'].push(black);
        graph_data['datasets'].push(white);
        graph_data['datasets'].push(other);
        return graph_data;
    }

    //function draws the bar chart by targeting bar id
    function draw_bar_chart_case(){
        options = get_bar_chart_options_cases();
        graph_data = get_bar_chart_data_case();
        if (graph_data == "empty"){
            $("#chart-text").html("Please make sure to select counties!");
            return;
        }
        else if (graph_data == "zero"){
            $("#chart-text").html("The selected counties do not have cases.");
            return;
        }
        bar_chart  = new Chart(
            document.getElementById("bar").getContext("2d"),
            {
                type: 'bar',
                data: graph_data,
                options: options
            }
        );
    }

        //function draws the bar chart by targeting bar id
    function draw_bar_chart_dr(){
        options = get_bar_chart_options_dr();
        graph_data = get_bar_chart_data_dr();
        if (graph_data == "empty"){
            $("#chart-text").html("Please make sure to select counties!");
            return;
        }
        else if (graph_data == "zero"){
            $("#chart-text").html("The selected counties do not have death penalty sentences.");
            return;
        }
        bar_chart  = new Chart(
            document.getElementById("bar").getContext("2d"),
            {
                type: 'bar',
                data: graph_data,
                options: options
            }
        );
    }

    //function generates chart.js options for pie chart
    function get_pie_chart_options_cases(){
        var options = {
            responsive: true,
            maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Current Cases by County'
                    }
                }
        };
        return options
    }

    //function generates chart.js options for pie chart
    function get_pie_chart_options_dr(){
        var options = {
            responsive: true,
            maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Current Death Row Sentences by County'
                    }
                }
        };
        return options
    }

    //function generates chart.js data for pie chart
    function get_pie_chart_data_cases(){
        let graph_data = {};
        graph_data['datasets'] = [];
        graph_data['labels'] = [];
        data_hash = {};
        data_hash['data'] = [];
        let eles = $(".clicked");
        zero_bool = true;

        if (eles.length == 0){
            return "empty";
        }

        data_hash['backgroundColor'] = ["#308dc0", "#DC1C13", "rgb(250, 250, 106)", "#0000FF"];

        for (let i = 0; i < eles.length; i++){
            graph_data['labels'].push(eles[i].id);
        }

        // if ($("#toggle-button").prop("checked")){
        for (let i = 0; i < eles.length; i++){
            county_data = data[eles[i].id];
            cases = county_data['num_cur_cases'];
            if (cases > 0){
                zero_bool = false;
            }
            data_hash['data'].push(cases);
        }
        if (zero_bool == true){
            return "zero"
        }
        graph_data['datasets'].push(data_hash);
        return graph_data;
    }


    //function generates chart.js data for pie chart
    function get_pie_chart_data_dr(){
        let graph_data = {};
        graph_data['datasets'] = [];
        graph_data['labels'] = [];
        data_hash = {};
        data_hash['data'] = [];
        let eles = $(".clicked");
        zero_bool = true;

        if (eles.length == 0){
            return "empty";
        }

        data_hash['backgroundColor'] = ["#308dc0", "#DC1C13", "rgb(250, 250, 106)", "#0000FF"];

        for (let i = 0; i < eles.length; i++){
            graph_data['labels'].push(eles[i].id);
        }

        for (let i = 0; i < eles.length; i++){
            county_data = data[eles[i].id];
            dr = county_data['num_dr'];
            if (dr > 0){
                zero_bool = false;
            }
            data_hash['data'].push(dr);
        }
        if (zero_bool == true){
            return "zero"
        }
        graph_data['datasets'].push(data_hash);
        return graph_data;
    }


    //function draws the pie chart by targeting pie id
    function draw_pie_chart_cases(){
        options = get_pie_chart_options_cases();
        graph_data = get_pie_chart_data_cases();
        if (graph_data == "empty"){
            $("chart-text").html("Please make sure to select counties!");
            return;
        }
        else if (graph_data == "zero"){
            $("#chart-text").html("The selected counties do not have cases.");
            return;
        }
        $("#chart-text").html("");
        bar_chart  = new Chart(
            document.getElementById("pie").getContext("2d"),
            {
                type: 'pie',
                data: graph_data,
                options: options
            }
        );
    }

    //function draws the pie chart by targeting pie id
    function draw_pie_chart_dr(){
        options = get_pie_chart_options_dr();
        graph_data = get_pie_chart_data_dr();
        if (graph_data == "empty"){
            $("chart-text").html("Please make sure to select counties!");
            return;
        }
        else if (graph_data == "zero"){
            $("#chart-text").html("The selected counties do not have death penalty sentences.");
            return;
        }
        $("#chart-text").html("");
        bar_chart  = new Chart(
            document.getElementById("pie").getContext("2d"),
            {
                type: 'pie',
                data: graph_data,
                options: options
            }
        );
    }

    //JS functions for tooltips

    //function shows county data tooltip on hover
    function showTooltip(evt, county) {
        let tooltip = document.getElementById("tooltip");
        county_data = data[county]
        text = formatData(county_data)
        tooltip.innerHTML = text;
        tooltip.style.display = "block";
        tooltip.style.left = evt.pageX + 10 + 'px';
        tooltip.style.top = evt.pageY + 10 + 'px';
    }

    //function formats data for tooltip
    function formatData(county_data){
        name = "<b>" + county_data['name'] + "</b>"
        num_cases = "Current Cases: " + county_data['num_cur_cases']
        cases_race = "Race of Defendant (B/W/O): " + county_data['num_cur_cases_b'] + "/" + county_data['num_cur_cases_w'] + "/" + county_data['num_cur_cases_o']
        num_dr = "Individuals on Death Row: " + county_data['num_dr']
        dr_race = "Race of Defendent on DR (B/W/O): " + county_data['num_dr_b'] + "/" + county_data['num_dr_w'] + "/" + county_data['num_dr_o']
        population = "Population: " + county_data['population']

        return name + "<br />" + num_cases + "<br />" + cases_race + "<br />" + num_dr + "<br />" + dr_race + "<br />" + population
    }

    //function hides county data tooltip when the county is not hovered
    function hideTooltip() {
        var tooltip = document.getElementById("tooltip");
        tooltip.style.display = "none";
    }

</script>
