<% 
=begin
    Project Name: InKind Donations
    FileName:/home/student5/RoJ-Spr23/src/app/views/inkinds/_show.html.erb
    Description: Displays the show functionality for the Inkind. Displays multiple donations, and the date in a specific format
    Last Modified: April 26, 2023
=end
%>

<style>
body {
    font-family: Helvetica;
}

h1 {
  color: rgb(34,0,155);
  text-align: left;
  font-weight: bold;
}

</style>

<p id="notice"><%= notice %></p>

<h1>Donation Details</h1>

<p>
  <strong>Name:</strong>
  <%= @inkind.name %>
</p>

<p>
  <strong>Date:</strong>
  <%# turns date to string displayed as MM/DD/YYYY %>
  <%= @inkind.date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Description:</strong>
  <%# iterates through inkindentry for this field %>
  <% @inkind.inkindentries.each do |donation| %>
    <%= donation.description %>
    <br>
  <% end %>
</p>

<p>
  <strong>Value:</strong>
  <%# iterates through inkindentry for this field %>
  <% @inkind.inkindentries.each do |donation| %>
    <%= number_to_currency(donation.value, unit: "$") %>
    <br>
  <% end %>
</p>

<p>
  <strong>Hours:</strong>
  <%# iterates through inkindentry for this field %>
  <% @inkind.inkindentries.each do |donation| %>
    <%= donation.hours.present? ? "#{donation.hours}" : "" %>
    <br>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @inkind.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @inkind.genre %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @inkind.donor_name %>
</p>

<p>
  <strong>Donor ID:</strong>
  <%= @inkind.donor_id %>
</p>
<%= link_to 'Edit', edit_inkind_path(@inkind) %> |
<%= link_to 'View Inkind Donations', inkinds_path %>
