<%
=begin
Project name: ACCR Webinar
Description: This project will keep track of the webinars and their respective speakers.
Filename: webinars/index.html.erb
Description: Handles showing information about a webinar.
Last modified on: April 22, 2023
=end
%>
<p id="notice"><%= notice %></p>

<h2>Upcoming Webinars</h2>

<h6>Webinars you registered for will appear in green.</h6>

<%= form_tag exportCSV_path,  id: "CSV" do %>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Webinar Name</th>
      <th>Description</th>
      <th>Date and Time</th>
      <th>Speaker(s)</th>
      <th colspan="100%"></th>
    </tr>
  </thead>

  <tbody>
    <% @upcoming_webinars.each do |webinar| %>
      <% if @webinar_id_array.include?(webinar.id) %>
        <tr class="table-success">
      <% else %>
        <tr>
      <% end %>
        <td><%= webinar.webinar_name %></td>
        <td><%= webinar.description %></td>
        <td><%= webinar.date_and_time.strftime("%B %d, %Y %I:%M%p") %></td>
        <td>
          <% speakers_info_array = WebinarsSpeaker.select(:speaker_id).where(webinar_id: webinar.id) %>
          <% speakers_info_array.each do |speaker_info| %>
            <%= link_to Speaker.find_by(id: speaker_info.speaker_id).name, speaker_show_path(speaker_info.speaker_id), method: :post %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', webinar_path(webinar), class:'btn btn-primary', method: :get %></td>
        <% if can?(:access, :rails_admin) %>
          <td><%= link_to 'Edit', edit_webinar_path(webinar), class:'btn btn-primary'  %></td>
          <td><%= link_to 'Delete', webinar, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary'  %></td>
          <td><%= link_to 'See registrants', registrants_webinar_path(webinar), class:'btn btn-primary'  %></td>
          <td><%= check_box_tag 'webs[]', webinar.id %></td> 
        <% else %>
          <td><%= link_to 'Register', new_registrant_path(webinar.id), class:'btn btn-primary' %></td>
          <td><%= link_to 'Deregister', webinars_deregister_path(webinar.id), class:'btn btn-primary' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Past Webinars</h2>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Webinar Name</th>
      <th>Description</th>
      <th>Date and Time</th>
      <th>Speaker(s)</th>
      <th colspan="100%"></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_webinars.each do |webinar| %>
      <tr>
        <td><%= webinar.webinar_name %></td>
        <td><%= webinar.description %></td>
        <td><%= webinar.date_and_time.strftime("%B %d, %Y %I:%M%p") %></td>
        <td>
          <% speakers_info_array = WebinarsSpeaker.select(:speaker_id).where(webinar_id: webinar.id) %>
          <% speakers_info_array.each do |speaker_info| %>
            <%= link_to Speaker.find_by(id: speaker_info.speaker_id).name, speaker_show_path(speaker_info.speaker_id), method: :post %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', webinar, class:'btn btn-primary' %></td>
        <% if can?(:access, :rails_admin) %>
          <td><%= link_to 'Edit', edit_webinar_path(webinar), class:'btn btn-primary'  %></td>
          <td><%= link_to 'Delete', webinar, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary'  %></td>
          <td><%= link_to 'See registrants', registrants_webinar_path(webinar), class:'btn btn-primary'  %></td>
          <td><%= check_box_tag 'webs[]', webinar.id %></td> 
        <% else %>
          <td><%= link_to 'Register', new_registrant_path(webinar.id), class:'btn btn-primary' %></td>
          <td><%= link_to 'Deregister', webinars_deregister_path(webinar.id), class:'btn btn-primary' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can?(:access, :rails_admin) %>
  <%= submit_tag "EXPORT SELECTED CSV",id: 'export-btn', class:'btn btn-primary'  %>
  <%= link_to 'EXPORT ALL CSV', webinars_path(format:'csv'), class:'btn btn-primary' %>
<% end %>
<% end %>

<br>
<% if can?(:access, :rails_admin) %>
  <%= link_to 'New Webinar', new_webinar_path, class:'btn btn-primary' %>
<% end %>

<%= link_to 'View Event Calendar', event_details_path, class:'btn btn-primary' %>

<script>
  document.getElementById('CSV').addEventListener('submit', function(event) {
    event.preventDefault();
    exportCsv();
  });

  function exportCsv() {
    var form = document.getElementById('CSV');
    var data = new FormData(form);
    var xhr = new XMLHttpRequest();

    xhr.open('POST', form.action, true);
    xhr.responseType = 'blob';
    const dateObject = new Date();

    let date = dateObject.toUTCString();

    xhr.onload = function() {
      if (xhr.status === 200) {
        var a = document.createElement('a');
        var url = window.URL.createObjectURL(xhr.response);
        a.href = url;
        a.download = `webinar${date}.csv`;
        document.body.appendChild(a);
        a.click();
        setTimeout(function() {
          document.body.removeChild(a);
          window.URL.revokeObjectURL(url);
          document.getElementById('export-btn').disabled = false;
        }, 100);
      }
    };

    xhr.send(data);
    document.getElementById('export-btn').disabled = true;
  }
</script>
