<p id="notice"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    Webinar
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @webinar.webinar_name %></h5>
    <p class="card-text">
    <%= @webinar.description %><br><br>
    </p>
    <p class="card-text">

      Speakers:<br>
      <% if @speakers_name_array.any? %>
        <% @speakers_name_array.each() do |speaker_name| %>
          <%= speaker_name %><br>
        <% end %>
      <% else %>
        There are no speakers for this webinar yet.
      <% end %>

    </p>
  </div>
  <div class="card-footer text-muted">
    <%= @webinar.date_and_time.strftime("%B %d, %Y %I:%M%p") %>
  </div>
</div>

</br>
<%= link_to 'Back', webinars_path, class:'btn btn-primary' %>
<% if can?(:access, :rails_admin) %>
| <%= link_to 'Edit', edit_webinar_path(@webinar), class:'btn btn-primary' %>
<% end %>
