<!-- Project name: Individual Project RoJ 
     Description of project: Enhancing the RoJ application 
     Filename: index.html.erb 
     Description: On the County Map Data, the download CSV functionality was difficult to find since 
                 it is in a hypertext link within the sentences at the top. So I turned that into a button
                 to make it more visibile. 
     Last modified on: 3/17/2024 -->

<div class="container" style= "padding bottom: 10px !important">
<br/>

<!-- Headers and directions -->
<h1 class = "text-center">County Map Data</h1>
<hr>
<% if can?(:access, :rails_admin) %>
  <h4 class="text-center">Please fill out information below in order to update the map. </h4> 
  <br>
  <h4 class="text-center">Upload your spreadsheet with new data here in order to update the map. </h4> 

 <!-- To download copy of current data -->
<div class="text-center" style="margin-bottom: 20px;"> 
  <h5 class="text-center">Click to download the current data spreadsheet.</h5>
  <%= link_to 'Download Spreadsheet', downloadcsv_path, class: "btn btn-primary" %>
  <br/>
</div>




  <!-- Rendering form partial for file upload -->
  <%= render 'form' %>
  </div>
  </div>
<% end %>
<!-- To display flash notice and error messages -->
<% flash.each do |type, msg| %>
    <div style="font-weight:bold;text-align:center">
      <%= msg %>
    </div>
<% end %>
<br>

<br>

  <h5 class="text-center">Search Counties</h5>
  <section class="search-form">
    <%= form_for :upload, method: :get do |f| %>
      <div class="input-group input-group-lg">
        <%= label_tag :keywords, nil, class: "sr-only" %>
        <%= text_field_tag :keywords, nil,
          placeholder: "County name",
            class: "form-control input-lg" %>
        <span class="input-group-btn">
          <%= submit_tag "Find Counties",
             class: "btn btn-primary btn-lg" %>
        </span>
        <br>
      </div>
    <% end %>
  </section>

<!-- Displays the Pro Bono Hours in a table -->
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">County</th>
        <th style="text-align: center" scope="col">Population</th>
        <th style="text-align: center" scope="col">Total Number of Pending Cases</th>
        <th style="text-align: center" scope="col">Pending Cases: Black/White/Other</th>        
        <th style="text-align: center" scope="col">Total Number of Current Death Sentence Cases</th>
        <th style="text-align: center" scope="col">Current Death Sentence Cases Black/White/Other</th>
        <!-- <th scope="col">Description</th> -->
        <% if can?(:access, :rails_admin) %>
        <th scope="col">Actions</th>
        <% end %>
      </tr>
    </thead>
    <% @counties.each do |county| %>
    <tr>
      <td scope="col"><%= county.name%></td>
      <td style="text-align: center" scope="col"><%= county.population%></td>
      <td style="text-align: center" scope="col"><%= county.num_cur_cases%></td>
      <td style="text-align: center" scope="col"><%= county.num_cur_cases_b%> / <%=county.num_cur_cases_w%> / <%=county.num_cur_cases_o%></td>      
      <td style="text-align: center" scope="col"><%= county.num_dr%></td>
      <td style="text-align: center" scope="col"><%= county.num_dr_b%> / <%=county.num_dr_w%> / <%=county.num_dr_o%></td>
      <% if can?(:access, :rails_admin) %>
      <td>
        <%= link_to 'Edit ', upload_edit_path(county)%>
      </td>
      <% end %>
    </tr>
  <% end %>
  </table>
<br><br>


<!-- Div for footer -->
<div id="footer">
    <hr>
    <a>© 2022 Copyright: Mapping Justice</a>
</div>