<div class="card">

  <div class="card-header">
    <h4>Add New Speaker</h4>
  </div>
  <div class="card-body">

    <%= form_with url: speaker_created_path, method: :post, local: true do |form|%>
        <%= form.label :speakerName, "Name" %>
        <%= form.text_field :speakerName %>
        <br>
         <%= form.label :speakerInfo, "Description" %>
        <%= form.text_field :speakerInfo %>
        <br>
         <%= form.label :speakerLink, "Website Link" %>
        <%= form.text_field :speakerLink %>
        <br>

        <button class = "btn btn-primary" <%= form.button 'CREATE'%></button>

    <%end%>
  </div>
</div>