
<%#
  Project name: ACCR Mail Manager
  Description: Mail database and management system for ACCR community partner
  Filename: _navbar.html.erb
  Description: Partial view used for generating the navigation bar on each page
  Last modified on: 4/24/23
  Code written by Team 13, Team 14, and Team 24
%>

<!--
 Project name: Call Organizer
 Description: This project will keep track of the various calls ACCR recieves.
 Filename: _navbar.html.erb
 Description: Partial view used for generating the navigation bar on each page.
 Last modified on: 04/23/2023
-->



<%# Contains the Bootstrap navbar that appears on each page. %>
<!--
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #31629b;">
      <%= link_to app_name, root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <%# Each tab uses the current path to determine if the page should be 'activated' or not. %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if request.path =~ /\/mail_entries\/new/ %>
              <%= link_to 'Add Mail', new_mail_entry_path, class: 'nav-link activated' %>
            <% else %>
              <%= link_to 'Add Mail', new_mail_entry_path, class: 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if request.path =~ /\/mail_entries\/(.*)\/edit/ || request.path =~ /\/mail_entries\/[0-9]+/ || request.path =~ /\/mail_entries$/ %>
              <%= link_to 'View Mail', mail_entries_path, method: :get, class: 'nav-link activated' %>
            <% else %>
              <%= link_to 'View Mail', mail_entries_path, method: :get, class: 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item">
          <% if request.path =~ /\/responses/ %>
            <%= link_to 'Manage Responses', responses_path, class: 'nav-link activated' %>
          <% else %>
            <%= link_to 'Manage Responses', responses_path, class: 'nav-link' %>
          <% end %>
        </li>
          <li class="nav-item">
            <% if request.path =~ /\/tags/ %>
              <%= link_to 'Manage Tags', tags_path, class: 'nav-link activated' %>
            <% else %>
              <%= link_to 'Manage Tags', tags_path, class: 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if request.path =~ /\/reminders\/new/ %>
              <%= link_to 'Create Reminder', new_reminder_path, class: 'nav-link activated' %>
            <% else %>
              <%= link_to 'Create Reminder', new_reminder_path, class: 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if request.path =~ /\/home\/about/ %>
              <%= link_to 'About', mail_manager_home_about_path, class: 'nav-link activated' %>
            <% else %>
              <%= link_to 'About', mail_manager_home_about_path, class: 'nav-link' %>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <%# If user, show account and reminders, else sign in. %>
          <% if user_signed_in? %>
            <li class="nav-item">
              <% if request.path =~ /\/reminders\z/ || (request.path =~ /\/reminders\// && !(request.path =~ /\/reminders\/new/)) %>
                <%= link_to 'Reminders', reminders_path, class: 'nav-link activated' %>
              <% else %>
                <%= link_to 'Reminders', reminders_path, class: 'nav-link' %>
              <% end %>
            </li>
                <%# Devise requires that the logout command be sent using the 'delete' HTTP verb (method) %>
              <br>
                <li>
                <%= link_to "Logout", destroy_user_session_path, class: "btn btn-light log", method: :delete %>
              </li>
          <% else %>
            <li class="nav-item">
              <%= button_to "Login", new_user_session_path, class: "btn btn-light" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>



mail manager nav is all above code -->


<!-- application navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-contrast bg-ACCR fixed-top">
  <div class="container-fluid">
    <span><%= link_to 'Rails of Justice', root_path, class: "navbar-brand" %></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%# If user, show account, else sign in %>
      <% if user_signed_in? %>
        <div class="container-fluid d-lg-flex justify-content-between">
          <ul class="navbar-nav mr-auto">
            <!-- Pro Bono Hours nav dropdown -->
            <% if can?(:access, :rails_admin) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pro-Bono Work
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" </a>
                  <%= link_to "Create Entry", "/donations/new", class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "View/Search Hours", "/donations", class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "View Statistics", statistics_index_path, class: 'nav-link', method: :get %>

            </li>
            <% end %>

            <!-- Mapping Justice nav dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mapping Justice
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" </a>
                  <%= link_to "Mapping Justice Home", mapping_justice_home_index_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "View Maps", map_index_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "County Data", upload_index_path, class: 'nav-link', method: :get %>
              </div>
            </li>

            <!-- Mail Manager nav dropdown -->
            <% if can?(:access, :rails_admin) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mail Manager
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" </a>
                  <%= link_to "Mail Manager Home", mail_manager_home_index_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "Add Mail", new_mail_entry_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "View Mail", mail_entries_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "Manage Responses", responses_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "Manage Tags", tags_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "Create Reminder", new_reminder_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "Reminders", reminders_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "About", mail_manager_home_about_path, class: 'nav-link', method: :get %>
              </div>
            </li>
            <% end %>

            <% if can?(:access, :rails_admin) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                In-Kind Donations
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" </a>
                  <%= link_to "In-Kind List", inkinds_index_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "List of Donors", donors_path, class: 'nav-link', method: :get %>
              </div>
            </li>
            <% end %>

            <!-- Webinar Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Webinars
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" </a>
                <%= link_to "Overview", requests_path , class: 'nav-link', method: :get %>
              <a class="dropdown-item" </a>
                <%= link_to "View Webinars", webinars_path, class: 'nav-link', method: :get %>
                <% if can?(:access, :rails_admin) %>
                <%= link_to "View Requests", requests_viewrequests_path, class: 'nav-link', method: :get %>

               
                <a class="dropdown-item" </a>
                <%= link_to "View Speakers", speaker_all_path, class: 'nav-link', method: :get %>
                <% end %>
            </div>

            </li>

            <!-- Event Calendar nav dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Event Calendar
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" </a>
                  <%= link_to "Event Calendar", event_details_path, class: 'nav-link', method: :get %>
                <% if can?(:access, :rails_admin) %>
                <a class="dropdown-item" </a>
                  <%= link_to "Add Event", new_event_detail_path, class: 'nav-link', method: :get %>
                <% end %>
              </div>
            </li>

            <!-- Call Organizer nav dropdown -->
            <% if can?(:access, :rails_admin) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Call Organizer
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" </a>
                  <%= link_to "Home", calls_home_index_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "Call Log", calls_path, class: 'nav-link', method: :get %>
                <a class="dropdown-item" </a>
                  <%= link_to "Add Call", new_call_path, class: 'nav-link', method: :get %>
                </div>
            </li>
            <% end %>

          </ul>

          </ul>

          <!-- account dropdowm -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <%# Change to rails "link_to" for the actual links when implementing %>
              <%# Make sure to include the css class as shown in the login example %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%# The rails administration panel link %>
                <% if can?(:access, :rails_admin) %>
                  <%= link_to 'Rails Admin', rails_admin_path, class: "dropdown-item" %>
                <% end %>
                <!-- <a class="dropdown-item" href="#">Action</a> -->
                <div class="dropdown-divider"></div>
                <%# Devise requires that the logout command be sent using the 'delete' HTTP verb (method) %>
                <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
              </div>
            </li>
          </ul>
        </div>
          <% else %>
          <div class="container-fluid d-lg-flex justify-content-between">
            <ul class="navbar-nav mr-auto">
              <!-- Mapping Justice nav dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mapping Justice
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" </a>
                    <%= link_to "Mapping Justice Home", mapping_justice_home_index_path, class: 'nav-link', method: :get %>
                  <a class="dropdown-item" </a>
                    <%= link_to "View Maps", map_index_path, class: 'nav-link', method: :get %>
                  <a class="dropdown-item" </a>
                    <%= link_to "County Data", upload_index_path, class: 'nav-link', method: :get %>
                </div>
              </li>
              <!-- Webinar Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Webinars
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" </a>
                    <%= link_to "Overview", requests_path , class: 'nav-link', method: :get %>
                  <a class="dropdown-item" </a>
                    <%= link_to "View Webinars", webinars_path, class: 'nav-link', method: :get %>

                </div>
              </li>
              <!-- Event Calendar nav dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Event Calendar
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" </a>
                    <%= link_to "Event Calendar", event_details_path, class: 'nav-link', method: :get %>
                </div>
              </li>
            </ul>
          </div>
          <div class="container-fluid d-md-flex justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= button_to "Login", new_user_session_path, class: "btn btn-dark" %>
              </li>
            </ul>
          </div>
        <% end %>
    </div>
  </div>
</nav>
